header {
  width: 100vw;
  height: 70px;
  top: 0;
  position: fixed;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  color: #fff;
  letter-spacing: 3px;
  font-weight: 900;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

h1:hover {
  color: #08fdd8;
}
