.chat__windows {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 15em;
  flex-wrap: wrap;
}

.left__chat,
.right__chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #409ea5;
  width: 400px;
  height: 550px;
  border: 1px solid black;
  margin-bottom: 20px;
  border-radius: 10px;
}

.actions {
  display: flex;
  align-items: center;
  width: 400px;
  border-top: 1px solid black;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
}
.actions > input {
  padding: 10px;
  border: none;
  font-size: 1.1em;
  width: 400px;
  border-radius: 10px;
}
.actions > input:focus {
  border: none;
}
.send__button {
  cursor: pointer;
  background-color: #fff;
}
.inactive {
  height: 50px;
  width: 400px;
  background-color: white;
  margin-bottom: 20px;
  text-align: right;
}
.inactive > .bell__icon {
  margin: 15px 10px;
}
.window__chat {
  overflow: auto;
  cursor: pointer;
}
.type {
  color: white;
  margin: 10px;
}
.data {
  font-size: 1.4em;
  display: flex;
  gap: 10px;
}
.smile {
  color: #fff;
  display: none;
  cursor: pointer;
}
.data:hover > .smile {
  display: block;
}
.smile__picker {
  cursor: pointer;
  margin-left: 8px;
}
.field__date {
  font-size: 10px;
  text-align: right;
}
.emotions {
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  font-size: 0.8em;
}
.emotions > span:hover {
  transform: translateY(-3px);
}
.message__left:nth-child(odd),
.message__right:nth-child(even) {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px 10px 0px 0px;
}

.message__left:nth-child(even),
.message__right:nth-child(odd) {
  color: blue;
  display: flex;
  flex-direction: column;
  margin: 10px 0px 0px 10px;
}

.emoji__single {
  margin-right: 5px;
}
.emoji__single:hover {
  cursor: pointer;
}

.emojis__row {
  display: flex;
}
.circle {
  color: #08fdd8;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.circle:hover {
  transform: scale(1.09);
  color: black;
}

@keyframes band {
  0% {
    opacity: 0;
    transform: rotateY(-10);
  }

  40% {
    opacity: 0.4;
    transform: rotateY(-50);
  }

  80% {
    opacity: 0.6;
    transform: rotateY(-90);
  }
  100% {
    opacity: 1;
    transform: rotateY(0);
  }
}
