.hello {
  margin-top: 10em;
  display: flex;
  width: 80%;
  justify-content: space-around;
}
.left__hello {
  width: 400px;
  height: 550px;
  border: 1px solid black;
}
.right__hello {
  width: 400px;
  height: 550px;
  border: 1px solid black;
}

.data {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.data:nth-child(odd) {
  background-color: yellowgreen;
  padding: 5px;
  display: flex;
  align-items: flex-end;
}
.data:nth-child(even) {
  background-color: green;
  padding: 5px;
  display: flex;
  align-items: flex-start;
}
